body{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/JOBJET/IMAGERS/ProfileBack.png') no-repeat;
    background-size: cover;
    background-position: center;
}


.card{
    display: flex;
    position: absolute;
    top:60px;
    width: 90%;
    height: 88%;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
}

.card h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0%;
    margin-left: 3%;
    
}

.hr1{
    margin-top: 0.5%;
}

.pro_img{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 0%;
    margin-left: 40px;
    
    
}



.For-name h2{
    position: relative;
    left:260px;
    bottom: 180px;
    font-size: 32px;
    font-weight: 700;
    margin-left: 1%;
}

.For-name span{
    position: relative;
    bottom:20px;
    font-size: 19px;
    font-weight: 300;
    
}

.hr2{
    position: relative;
    left: 300px;
    bottom: 200px;
    margin-top: 0.5%;
    width: 340px;
}
.hr3{
    position: relative;
    left: 300px;
    bottom: 200px;
    margin-top: 0.5%;
    width: 75%;
}


.hr4{
    position: relative;
    left: 300px;
    bottom: 200px;
    margin-top: 0.5%;
    width: 300px;
}

h6{
    font-size: 16px;
    font-weight:700;
    color: #8F8F8F;
}

p{  
    
    font-size: 16px;
    
}

.For-infor h6{
    position: relative;
    left: 280px;
    bottom: 210px;
}


.For-infor p{
    position: relative;
    left: 250px;
    bottom: 200px;
    font-weight: 700;
}

.For-infor p p1{
    display:inline-flex;
    position: relative;
    left: 150px;
    font-weight: 500;
    padding: 0%;
}
.For-infor p p2{
    position: relative;
    left: 125px;
    font-weight: 500;
}
.For-infor p p3{
    position: relative;
    left: 135px;
    font-weight: 500;
}

.For-infor p p4{
    position: relative;
    left: 75px;
    font-weight: 500;
}

.For-infor p p5{
    position: relative;
    left: 148px;
    font-weight: 500;
}

.For-infor p p6{
    position: relative;
    left: 159px;
    font-weight: 500;
}
.For-infor p7{
    position: relative;
    left: 310px;
    bottom: 210px;
    font-weight: 700;
    
}


.For-infor img{
    position: relative;
    bottom: 3px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    
}

.h3, .For-name ,.For-infor{
    position: relative;
    left: 60px;
}


.contact{
    position: relative;
    left: 500px;
    bottom: 170px;
}

.skills{
    position: relative;
    right: 300px;
    bottom: 210px;
}





























@media (max-width: 1535px){

}
@media (max-width: 1460px){

}

@media (max-width: 1340px){

}

@media (max-width: 1340px){

}

@media (max-width: 1195px){

}

@media (max-width: 990px){

}