main {
  overflow: hidden;
  min-height: 100vh;
  overflow-y: auto;
  background-color: rgb(248, 248, 250);
}

footer {
  background-color: rgba(255, 255, 255, 0.056) !important;
}

.content img {
  position: relative;
  top: 80px;
  left: 3%;
  width: 95%;
  height: 60%;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 100px;
}

.content h3 {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  background-color: #f0f0fa;
  border-top: 1px dashed rgb(202, 202, 202);
  border-bottom: 1px dashed rgb(202, 202, 202);
}

.apply_button {
  position: relative;
  top: 150px;
  left: 64%;
  width: 180px;
  height: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.144);
  background: linear-gradient(to right, #0e66d8, #1c29b4);
}

.print_button {
  position: relative;
  top: 150px;
  left: 65%;
  width: 120px;
  height: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.144);
  background: linear-gradient(to right, #9b0c0c, #720101);
}

.apply_button:hover,
.print_button:hover {
  font-weight: 500;
  transform: translateX(1px);
  transition: 0.1s;
}

.card-container {
  display: block;
  border-radius: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #f0f0fa;
  margin-bottom: 30px;
  border: #ffffff;
  border-top: 1px dashed rgb(202, 202, 202);
  border-bottom: 1px dashed rgb(202, 202, 202);
}

.buttonJs {
  position: relative;
  top: auto;
}

.card2 {
  display: none;
  margin-top: 1%;
  width: 95%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.144);
}

.hidden {
  display: none;
}

.card2 h3 {
  background-color: #c9c9c9;
  padding-block: 10px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  text-align: center;
}

.labels {
  font-size: 18px;
  font-weight: 320;
  font-family: "Poppins", sans-serif;
}

.form-control {
  width: 310px;
  height: 40px;
  background-color: rgb(247, 247, 247);
}

.form-control::placeholder {
  color: #b1b1b1;
  font-style: italic;
}

#form-control_e {
  width: 987px;
  height: 40px;
}

#form-control_me {
  position: absolute;
  bottom: 221px;
  resize: none;
  width: 985px;
  height: 150px;
}

.upload-input {
  display: none;
}

.upload-label {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: 350px;
  height: 120px;
  cursor: pointer;
  border: 1px solid #d8d8d8;
}

.uploading-img {
  display: flex;
  margin-inline: auto;
  margin-block: 15px;
  width: 100px;
  height: 100px;
  background-color: #00000000;
}

.uploading-img:hover,
.upload-label:hover {
  background-color: #ebebeb;
  transform: translateY(4px);
  transition: 0.4s;
}

#button1 {
  width: 120px;
  height: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.144);
  background: linear-gradient(to right, #0e66d8, #1c29b4);
}

.positive-img-msg {
  position: relative;
  margin-top: 10px;
  top: 13%;
  right: 36.5%;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: #016e3b;
  font-family: "Poppins", sans-serif;
}

.negative-img-msg {
  position: relative;
  top: 15%;
  right: 36.5%;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: #8b0303;
  font-family: "Poppins", sans-serif;
}

.negative-img-msg-error {
  display: flex;
  text-align: left;
  justify-content: left;
  margin: 10px;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: #8b0303;
  font-family: "Poppins", sans-serif;
}

.negative-img-msg-file {
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #8b0303;
}

.positive-resume-img-msg {
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #016e3b;
}

.nagative-resume-img-msg {
  position: relative;
  top: 78%;
  right: 6%;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #8b0303;
}

@media print {
  body * {
    visibility: hidden;
  }

  .ads_img {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media print1 {
  body * {
    visibility: hidden;
  }

  .ads_img {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
